  <p id="notice"><%= notice %></p>
  <div class="container">
    <%= render 'layouts/errors', obj: @new_book %>
    <div class="row">
      <%= render 'books/left', book: @new_book, user: @user %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@user.id) do %>
                    <%= attachment_image_tag @book.user, :profile_image,  format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
                  <% end %></br>
                  <%= link_to @book.user.name, user_path(@book.user) %>
                </td>
                <td><%= link_to @book.title, book_path(@book) %></td>
                <td><%= @book.body %></td>
                <td id="favorite-<%= @book.id %>" class="favorite-btn">
                  <%= render "favorites/favorite-btn", book: @book %>
                </td>
                <td class="comments-count">コメント数：<%= @book.post_comments.count %></td>
                <% if @book.user == current_user %>
                 <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
                 <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
                <% end %>
              </tr>
          </tbody>
        </table>
        <div id="post_comment">
          <%= render 'post_comments/post_comment', book: @book, post_comment: @post_comment %>
        </div>
        <div class="new-comment mt-3">
          <%= form_with model:[@book, @post_comment], remote: true do |f| %>
            <%= f.text_area :comment, class: "form-control form-control-lg mb-2" %>
            <%= f.submit "送信" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>