  <p id="notice"><%= notice %></p>
  <div class="container">
    <div id="error_explanation">
      <% if @book.errors.any? %>
        <h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="row">

      <%= render 'books/left', book: @new_book, user: @user %>

      <div class="col-md-8 offset-md-1">
        <h2>Books detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
              <tr>
                <td><%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %></br>
                <%= link_to @book.user.name, user_path(@book.user) %></td>
                <td><%= link_to @book.title, book_path(@book) %></td>
                <td><%= @book.body %></td>
                <% if @book.user == current_user %>
                 <td><%= link_to "edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
                 <td><%= link_to "destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
                <% end %>
              </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>