  <p id="notice"><%= notice %></p>
  <div class="container">
    <div id="error_explanation">
      <% if @book.errors.any? %>
        <h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="row">

      <%= render 'books/left', book: @new_book, user: @user %>

      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@user.id) do %>
                    <%= attachment_image_tag @book.user, :profile_image,  format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
                  <% end %></br>
                  <%= link_to @book.user.name, user_path(@book.user) %>
                </td>
                <td><%= link_to @book.title, book_path(@book) %></td>
                <td><%= @book.body %></td>
                <% if @book.favorited_by?(current_user) %>
                  <td>
                    <%= link_to book_favorites_path(@book), method: :delete do %>
                      ♥<%= @book.favorites.count %>
                    <% end %>
                  </td>
                <% else %>
                  <td>
                    <%= link_to book_favorites_path(@book), method: :post do %>
                      ♡<%= @book.favorites.count %>
                    <% end %>
                  </td>
                <% end %>
                <td>コメント件数：<%= @book.post_comments.count %></td>
                <% if @book.user == current_user %>
                 <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
                 <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
                <% end %>
              </tr>
          </tbody>
        </table>
        <table class="comments">
          <tbody>
            <tr>
              <% @book.post_comments.each do |post_comment| %>
              <td>
                <%= attachment_image_tag @book.post_comment.user, :profile_image,  format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></br>
                <%= post_comment.user.name %>
              </td>
              <td><%= post_comment.comment %></td>
              <td><%= link_to "Destroy"></td>
              <% end %>
            </tr>
        </div>
        
        
        <div class="new-comment">
          <%= form_with(model:[@book, @post_comment], local: true) do |f| %>
            <%= f.text_area :comment %>
            <%= f.submit "送信" %>
          <% end %>
        </table>
        
        
      </div>

    </div>
  </div>